html { 
    height:100%; 
}

body { 
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0; 
}

/* Main page */
#bodyMainPage{
   background-color: darkred;
   background-repeat: no-repeat;
   width:100%;
   height:100%;
}

/* Containers */
.imageContainer{
    background-image: url('https://s3-us-west-2.amazonaws.com/cmuescort/escort.jpg');
    /*background-color: darkred;*/
    background-size: 100%;
    width:100%;
    height:38%;
}

/* blocks */
.blockWhite{
    background-color: whitesmoke;
    background-size:100%;
    width:100%;
    height:100%;
    color: black;
}

.blockRed{
    background-color: darkred;
    background-size:100%;
    width:100%;
    height:65%;
    color:white;
}

.blockBlack{
    background-color: black;
    background-size:100%;
    width:100%;
    height:100%;
    color:white;
}

/* subtitles */

#Welcome{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 600%;
    letter-spacing:50%;
    color:whitesmoke;
    text-decoration-color: whitesmoke;
    text-align: center;
    position:relative;
    top:30%;
}

/* footer */
.socialOutline{
    margin-top: 15px;
    border: solid 2px white;
    font-size:20px;
    color:white;
    background:transparent;
    transition: all 0.3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px white;
    color: black;
    background: white;
}

.socialButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid whitesmoke;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.socialButton:focus,
.socialButton:active,
.socialButton.active {
    outline: 0;
}

/* login student page*/
#bookSeat{
    height:50%;
    background-image: url('https://s3-us-west-2.amazonaws.com/cmuescort/bus.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#selectDate{
    margin-top:10%;
    left:10%;
    width:80%;
}

#Time{
    margin-top:20%;
    width:20%;
}

#Route{
    margin-top:20%;
    width:20%;
}

#ID{
    margin-top:20%;
    width:20%;
}

.seatRegionPartOne{
    position:relative;
    top:30%;
    left:42%;
    height:24%;
    width:38%;
}

.seatRegionPartOne .Row0{
    position:relative;
    height:11%;
    width:35%;
    display:inline-block;
}

.seatRegionPartOne .Row1{
    position:relative;
    height:11%;
    width:35%;
    top:32%;
    display:inline-block;
}

.seatRegionPartTwo{
    position:relative;
    top:32%;
    left:42%;
    height:24%;
    width:38%;
}

.seatRegionPartTwo .Row0{
    position:relative;
    height:11%;
    width:35%;
    display:inline-block;
}

.seatRegionPartTwo .Row1{
    position:relative;
    height:11%;
    width:35%;
    top:30%;
    display:inline-block;
}

.seatLegend{
    list-style-type:none;
}


/* login manager page*/
#mainpage_student{
    height:1500%;
    width:100%;
}

#staticBoard{
    top:15%;
    left:15%;
    width:70%;
    height:80%;
    opacity:0.8;
}

#graphBoard{
    width:100%;
    height:90%;
    font:inherit;
    background-color: whitesmoke;
}

#riderBoard{
    position:relative;
    margin-top:10%;
    margin-left:10%;
    width:35%;
    height:50%;
    opacity:0.8;
}